*{
    margin: 0px;
    padding: 0px;
}
body{
    background: grey;
}
.title{
    font-family: 'Press Start 2P', cursive;
    color: yellow;
    font-size: 32px;
    margin: 0px;
    padding: 50px;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
}
.game-status{
    font-weight: bold;
    font-size: 48px
}
.game-status{
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgray;
    border-radius: 20px;
    margin: 1em;
    padding: 0;
    text-align: center;
    font-weight: 600;
    
}
.hands{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.sign{
    font-size: 72px;
}
.button{
    background: lightgray;
    border: 2px solid;
    border-radius: 7px;
    cursor: pointer;
}
.button:hover{


}